.protein-card {
    min-height: 240px;
    width: 240px;
    height: 240px;
    padding: 4px;
    /* margin-block-end: 1em; */
}

.protein-sequence {
    width: 95%;
    height: 90%;
    padding: 4px;
    background-color: var(--gruv-2);
    inline-size: 200px;
    overflow-wrap: anywhere;
    overflow-y: scroll;
    text-align: left;
}
