.result-container {
  width: 100%;
  min-width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column; /* Stack items vertically by default */
  flex-wrap: wrap;
  padding: 10px;
  align-content: space-between;
  gap: 32px;

  border-radius: 4px; 
}



.response-plot-container {
  margin-top: 20px; 
  border: 1px solid #ddd; 
  padding: 10px; 
  border-radius: 4px; 
  width: fit-content;
  height: fit-content;
}


.compound-container {
  margin-bottom: 20px; /* Add space below the compound info */
}

.main-content {
  display: flex; /* Arrange table and plots horizontally */
  min-width: fit-content;
  width: 100%;
  height: fit-content;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid #ddd;  */
  /* border-radius: 4px;  */
  padding: 12px;
  margin: 12px;
}


.right-side {
  flex: 2; /* Allow the plots to take up more width */
  display: flex;
  flex-direction: column; /* Stack plots vertically */
  gap: 20px; /* Space between the two plots */
}

.plot-stack {
  display: flex;
  flex-direction: column; /* Stack plots vertically */
  gap: 20px; /* Space between the two plots */
}

.response-plot-container {
  /* Add any specific styling for the response plot container */
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 5px;
}

.absorbance-plot-container {
  /* Add any specific styling for the absorbance plot container */
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 5px;
}

/* You might need to adjust styling for the ResultResponseTable as well */
.response-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
}

.response-table th,
.response-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.response-table th {
  font-weight: bold;
}


.result-nav {
  width: 100%;
  height: fit-content;
  margin: 0;
  background-color: var(--bg-dark);
  border: 1px solid var(--bg);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  font-size: 24px;
  a {
    height: 100%;
    color: #f2e5bc;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    color: #f9f5d7;
  }
}

.result-nav-item {
  width: 128px;
  min-height: 3em;
  margin: 7px;
  color: var(--fg);
  background-color: var(--gruv-11);
  border: 1px solid var(--bg);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.result-nav-item:hover {
  background-color: var(--gruv-16);
}

.result-nav-item:active {
  background-color: var(--gruv-14);
}

.comment-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* justify-content: space-between; */
}

.info-card {
  text-align: left;
}

.comment-submit {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 5px;

  input {
    height: 2em;
    border-radius: 2em;
    margin-right: 0;
    padding-left: 1em;
    font-size: 14px;
    flex: 1;
  }

  button {
    height: 2em;
    width: 120px;
    border-radius: 16px;
    font-size: 16px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

.status-banner {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: var(--gruv-16);
  border-radius: 4px;
  margin-bottom: 10px;
  font-weight: bold;
  align-items: center;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}

.comment-list {
  padding: 16px;
  margin: 12px;
  overflow: scroll;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.comment {
  width: 70%;
  height: fit-content;
  border: 1px solid #f9f5d7;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: var(--bg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  span {
    text-align: left;
  }

  button {
    height: fit-content;
    width: fit-content;
    padding: 1px;
    color: red;
    background-color: unset;
  }
}



.form-control {
  font-size: 1rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 1.5em;

  button {
    width: 8rem;
  };
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}
